html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #37474F;
}

#map {
    min-height: 100vh;
}

#menu {
    background-color: #37474F;
    color: white;
}
/*todo - limit max height on mobile, make the element scrollable*/

.row {
    background-color: #37474F;
}