html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #37474F;
}

#map {
    min-height: 100vh;
}

#menu {
    background-color: #37474F;
    color: white;
    overflow-y: scroll;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
    #menu {
        height: 300px;
        overflow-y: scroll;
    }
}
@media only screen and (min-width : 481px) and (max-width : 991px) {
    #menu {
        height: 400px;
        overflow-y: scroll;
    }
}
@media only screen and (min-width : 992px) {
    #menu {
        max-height: 100vh;
        overflow-y: scroll;
    }
}

.row {
    background-color: #37474F;
}

#pac-input {
    width: 60%;
    color: black;
}
#pac-input:focus {
    /* Stolen from https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete */
    border-color: #4d90fe;
}