html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #37474F;
}

#map-container {
    background-color: #37474F;
}

.toggle-button {
    border: none;
    color: #CFD8DC;
    background-color: #37474F;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
}
.toggle-button:hover {
    color: #E65100;
}

#map {
    min-height: 100vh;
}